.header-top {
	background: #D8232A;
}

a.button.border,
a.button {
	background: #D8232A;
}

#main-menu ul li a:hover {
	background: #D8232A;
}

#main-menu .dropdown-menu a:hover {
	background: #D8232A;
}

.bloq-search input[type="text"] {
	border: 1px solid #D8232A;
}

.bloq-search input[type="submit"] {
	background: #D8232A;
}

.google-maps .filter {
	background: #D8232A;
}

.section-title:before {
	background-color: #D8232A;
}

.parallax-searchs .form-group .nice-select i,
.parallax-searchs .form-group .nice-select:hover {
	color: #D8232A;
}

.nice-select .option:hover,
.parallax-searchs .form-group .btn {
	background: #D8232A !important;
}

.listing-hidden-content.blue {
	background: #D8232A;
}

.section-title h2 {
	color: #D8232A;
}

.recently .homes-content .homes-list li {
	color: #D8232A;
}

.recently .homes-content .homes-list li i {
	color: #D8232A;
}

.btn.btn-outline-light,
.first-footer .newsletters h3::after {
	background: #D8232A;
}

.welcome-title h2 span,
.welcome-title h2 span {
	color: #D8232A;
}

.welcome .popup-youtube,
.first-footer .contactus ul li .fa {
	color: #D8232A;
}

.welcome .wprt-image-video .iq-waves .waves {
	background: rgb(250, 41, 100) none repeat scroll 0 0 padding-box;
}

.services-home .bg-base,
.first-footer .bloq-email .email input[type="submit"] {
	background: #D8232A;
}

#navigation.style-1 .current {
	color: #D8232A;
}

#navigation.style-1 ul li:hover {
	background: #D8232A;
}

.feature-cities-1 .listing-badges .featured {
	background: #D8232A;
}

.services-home a.text-base,
.twitter-widget.contuct .twitter-area .text h5 a {
	color: #D8232A;
}

.portfolio .homes-content .homes-list li {
	color: #D8232A;
}

.portfolio .homes-content .homes-list li i {
	color: #696969;
	font-size: 18px;
}

.portfolio .footer i {
	color: #696969;
	font-size: 16px;
}

.top-location .owl-theme .owl-nav [class*=owl-] {
	background: #D8232A;
}

.blog-section .news-item a:hover h3 {
	color: #D8232A;
}

.blog-section .news-link {
	color: #D8232A;
}

.testimonials .test-1 p::before {
	color: #D8232A;
}

.testimonials .test-1 h3 {
	color: #D8232A;
}

.owl-dot.active {
	background: #D8232A !important;
}

.counterup .countr .fa {
	color: #D8232A;
}

.realhome_subscribe input {
	border-color: #D8232A;
}

.realhome_form_subscribe button {
	background: #D8232A;
	border: 2px solid #D8232A;
}

.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
	background-color: #D8232A;
}

.first-footer .btn {
	background: #D8232A;
}

.first-footer .btn:hover {
	background: transparent;
}

.navigation ul li a:hover {
	color: #D8232A;
}

.twitter-widget.contuct .twitter-area .icon-holder i {
	color: #D8232A;
}

.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
	color: #D8232A;
}

.second-footer {
	background: #303441;
}

.go-up {
	background: #D8232A;
}

@media only screen and (max-width: 991px) {
	.homepage-6 .bg-all {
		margin-top: 30px !important;
	}
}

.main-search-field {
	background: #D8232A;
}

.btn-default.btn-theme-colored2:hover {
	background: #D8232A;
}

.text-theme-colored2 {
	color: #D8232A !important;
}

.btn-dark.btn-theme-colored {
	background-color: #D8232A;
}

.parallax-search .form-group .nice-select:hover {
	color: #D8232A;
}

.parallax-search .form-group .nice-select i {
	color: #D8232A;
}

.parallax-search .form-group .list li:hover {
	background: #D8232A;
}

.parallax-search .form-group .btn {
	background: #D8232A;
}

.inner-pages .blog .active-view-btn:hover {
	background: #D8232A !important;
}

.inner-pages .change-view-btn:hover {
	color: #D8232A !important;
}

.inner-pages .blog .block-heading .change-view-btn.lde:hover {
	background: #D8232A;
}

.inner-pages .blog .section-heading .media .media-left i {
	background: #D8232A;
}

.inner-pages .blog .main-search-field select {
	background: #D8232A;
}

.inner-pages .blog .at-input {
	border: 2px solid #D8232A;
}

.inner-pages .blog .ui-widget.ui-widget-content {
	background: #D8232A;
}

.inner-pages .blog .hvr-bounce-to-right {
	background: #D8232A;
}

.inner-pages .widget h5::after {
	background-color: #D8232A;
}

.inner-pages .portfolio .footer i {
	color: #D8232A;
}

.inner-pages .recent-post .tags a:hover {
	color: #D8232A;
	border-color: #D8232A;
}

.page-item.active .page-link {
	background: #D8232A;
	border-color: #D8232A;
}

.page-link {
	color: #D8232A;
}

.inner-pages .blog .homes-content.details-2 .fa {
	color: #D8232A;
}

.inner-pages .blog .sorting-options h5 {
	color: #D8232A;
}

.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
	color: #D8232A;
	background-color: #D8232A;
}

.inner-pages .blog .homes-content.details .fa {
	color: #D8232A;
}

.inner-pages .button.alt {
	background-color: #D8232A;
}

.inner-pages .agent-details a:hover {
	color: #D8232A;
}

.inner-pages .agent-details .fa {
	color: #D8232A;
}

.inner-pages .about-us .who-1 h2 span {
	color: #D8232A;
}

.inner-pages .about-us .wprt-image-video .icon-wrap {
	background-color: #D8232A;
}

.bg-2 .button {
	border-color: #D8232A;
}

.inner-pages .panel .panel-heading a {
	background: #D8232A;
}

.plan-price {
	background: #D8232A;
}

.plan-price:after {
	border-top-color: #D8232A;
}

.plan a.btn {
	background: #D8232A;
}

.inner-pages .top-headings h2 {
	color: #D8232A;
}

.inner-pages .port-info .btn {
	background: #D8232A;
	border: 1px solid #D8232A;
}

#login .btn_1,
a.btn_1 {
	background: #D8232A;
}

.inner-pages .blog .social .date {
	background-color: #D8232A;
}

.blog-pots figure {
	background: #D8232A;
}

.blog .blog-pots .fa {
	color: #D8232A;
}

.btn-secondary {
	background: #D8232A;
}

.single-blog-post .img-box .overlay {
	background: rgba(250, 41, 100, 0.8);
}

.inner-pages .form-control {
	border: 1px solid #D8232A;
}

.inner-pages .input-group-btn .btn-primary {
	background: #D8232A;
	border: 1px solid #D8232A;
}

.inner-pages .input-group-btn .btn-primary:hover {
	color: #D8232A;
}

.inner-pages .comments-info h5 {
	color: #D8232A;
}

.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
	background-color: #D8232A;
}

.inner-pages .leve-comments .btn {
	background: #D8232A;
	border: 1px solid #D8232A;
}

.inner-pages .leve-comments .btn:hover {
	border: 1px solid #D8232A;
}

.inner-pages .contact-us .btn {
	background: #D8232A;
	border: 1px solid #D8232A;
}

.inner-pages .contact-us .btn:hover {
	border: 1px solid #D8232A;
}

.inner-pages .call-info h3::after {
	background-color: #D8232A;
}

.inner-pages .call-info ul li .fa {
	color: #D8232A;
}

.inner-pages .single-add-property>h3 {
	color: #D8232A;
}

.inner-pages .prperty-submit-button>button {
	background: #D8232A none repeat scroll 0 0;
}

.leaflet-div-icon,
.map-marker {
	background-color: #D8232A;
	border: 5px solid #D8232A;
}

.leaflet-div-icon:before,
.map-marker:before {
	border-top-color: #D8232A;
}

.listing-window-image:before {
	background-color: #D8232A;
}

.listing-window-content h3 {
	background-color: #D8232A;
}

.blog-section .action-list .fa-comment {
	color: #D8232A;
}

.blog-section .action-list .fa-share-alt {
	color: #D8232A;
}

.blog-section .action-list .fa-heart {
	color: #D8232A;
}

section.pricing-table {
	padding: 6rem 0;
	background: #fff;
}